In [17]:
import pandas as pd
import os

In [18]:
data_file_folder = './'
df = []

for file in os.listdir(data_file_folder):
    if file.endswith('.xlsx'):
        sheet_name, extension = file.split('.')
        df.append(pd.read_excel(file, sheet_name = sheet_name, usecols = 'A:J'))
df_master = pd.concat(df, axis=0)

In [19]:
df_master.head()

,Receiving Committee,Filing Period,Contribution Date,Contributor Name,Contributor Address,Contributor Type,Contribution Type,Contribution Amount,Employer Name,Employer Occupation
0,"Jones, Opel Friends of",2022 Annual,2021-06-10,"Annapolis Junction Apartments Homes, LLC","PO Box 30946, Bethesda, MD 20824",Business/Group/Organization,Check,1000.0,NaN,NaN
1,"Jones, Opel Friends of",2022 Annual,2021-03-15,"Bradley, Vaughn","6288 Bright Plume, Columbia, MD 21044",Individual,Credit Card,100.0,Vaughn Bradley,Legal
2,"Jones, Opel Friends of",2022 Annual,2021-03-24,"Lewis, Anton","104 Garden Gate Lane, Upper Marlboro, MD 20774",Individual,Credit Card,250.0,GSK,Sales and Marketing
3,"Jones, Opel Friends of",2022 Annual,2021-06-10,"Talkin & Oh, LLP","5100 Dorsey Hall Drive, Ellicott City, MD 21042",Business/Group/Organization,Check,1000.0,NaN,NaN
4,"Jones, Opel Friends of",2022 Annual,2021-03-23,"Harvey, Bruce","7792 Elmwood Road, Fulton, MD 20759",Individual,Credit Card,250.0,Williamsburg Group L.L.C,Administrative and Management

In [20]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478 entries, 0 to 116
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Receiving Committee  478 non-null    object
 1   Filing Period        478 non-null    object
 2   Contribution Date    478 non-null    datetime64[ns]
 3   Contributor Name     478 non-null    object
 4   Contributor Address  478 non-null    object
 5   Contributor Type     478 non-null    object
 6   Contribution Type    478 non-null    object
 7   Contribution Amount  478 non-null    float64
 8   Employer Name        221 non-null    object
 9   Employer Occupation  90 non-null     object
dtypes: datetime64[ns](1), float64(1), object(8)
memory usage: 41.1+ KB

In [21]:
candidate_name = df_master['Receiving Committee'].unique().tolist()
donor_name = df_master['Contributor Name'].unique().tolist()
contributions = df_master['Contribution Amount'].unique().tolist()
filing_period = df_master['Filing Period'].unique().tolist()

In [22]:
mask=df_master['Receiving Committee'].isin(candidate_name)
## mask2 = df_master['Contributor Name'].isin(donor_name)

In [23]:
df_contribution_sum = df_master[mask].groupby(by = ['Contributor Name', 'Receiving Committee']).sum()[['Contribution Amount']]
df_contribution_count = df_master[mask].groupby(by = ['Contributor Name','Receiving Committee']).count()[['Contribution Amount']]
df_contribution_count = df_contribution_count.rename(columns = {'Contribution Amount':'No of Contributions'})

In [24]:
df_grouped = [df_contribution_sum, df_contribution_count]

In [25]:
df_grouped = pd.concat(df_grouped, axis = 1)
df_grouped = df_grouped.sort_values(by=['No of Contributions'], ascending = False)

In [26]:
df_grouped

,,Contribution Amount,No of Contributions
Contributor Name,Receiving Committee,,
"Henry Oakcrum, Ora","Jones, Opel Friends of",1645.18,17
"Wagner, Joseph","Kurtom, Neveen Friends of",5638.10,13
"Taylor, John","Jones, Opel Friends of",265.00,9
"Jacobson, Jonas","Jones, Opel Friends of",2250.00,5
"Jafri, Deeba","Jones, Opel Friends of",370.18,5
...,...,...,...
"Harris, Marcus Citizens for","Jones, Opel Friends of",700.00,1
"Hamlin, Derrick","Jones, Opel Friends of",100.00,1
"Guyton, Jamila","Jones, Opel Friends of",20.18,1
"Gutschick, Carl","Kurtom, Neveen Friends of",200.00,1
"waters, wardell","Jones, Opel Friends of",750.00,1

In [27]:
df_grouped

,,Contribution Amount,No of Contributions
Contributor Name,Receiving Committee,,
"Henry Oakcrum, Ora","Jones, Opel Friends of",1645.18,17
"Wagner, Joseph","Kurtom, Neveen Friends of",5638.10,13
"Taylor, John","Jones, Opel Friends of",265.00,9
"Jacobson, Jonas","Jones, Opel Friends of",2250.00,5
"Jafri, Deeba","Jones, Opel Friends of",370.18,5
...,...,...,...
"Harris, Marcus Citizens for","Jones, Opel Friends of",700.00,1
"Hamlin, Derrick","Jones, Opel Friends of",100.00,1
"Guyton, Jamila","Jones, Opel Friends of",20.18,1
"Gutschick, Carl","Kurtom, Neveen Friends of",200.00,1
"waters, wardell","Jones, Opel Friends of",750.00,1

In [60]:
developer_list = pd.read_csv('developercrossreference.csv').drop_duplicates()
developer_list = developer_list.dropna()
developer_list['Developer/Developer Affiliated']=developer_list['Developer/Developer Affiliated'].str.lower()
developer_id = developer_list['Developer/Developer Affiliated']=='yes'
developer_list = developer_list[developer_id]
developer_list=developer_list.reset_index()
developer_list = developer_list.drop(columns = 'index')
developer_filter=df_master['Contributor Name'].isin(developer_list['Contributor Name'])
developer_contributions = df_master[developer_filter]

In [61]:
developer_contributions

,Receiving Committee,Filing Period,Contribution Date,Contributor Name,Contributor Address,Contributor Type,Contribution Type,Contribution Amount,Employer Name,Employer Occupation
0,"Jones, Opel Friends of",2022 Annual,2021-06-10,"Annapolis Junction Apartments Homes, LLC","PO Box 30946, Bethesda, MD 20824",Business/Group/Organization,Check,1000.0,NaN,NaN
3,"Jones, Opel Friends of",2022 Annual,2021-06-10,"Talkin & Oh, LLP","5100 Dorsey Hall Drive, Ellicott City, MD 21042",Business/Group/Organization,Check,1000.0,NaN,NaN
4,"Jones, Opel Friends of",2022 Annual,2021-03-23,"Harvey, Bruce","7792 Elmwood Road, Fulton, MD 20759",Individual,Credit Card,250.0,Williamsburg Group L.L.C,Administrative and Management
5,"Jones, Opel Friends of",2022 Annual,2021-06-15,"Two Farms, Inc.","3611 Roland Avenue, Baltimore, MD 21211",Business/Group/Organization,Check,1000.0,NaN,NaN
6,"Jones, Opel Friends of",2022 Annual,2021-06-10,"Abrams Development Grou, Inc.","8601 Robert Fulton Drive, Suite 100, Columbia,...",Business/Group/Organization,Check,1000.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
106,"Kurtom, Neveen Friends of",2022 Annual,2022-01-10,"Breeden, Kevin","P.O. Box 77, Casanova, VA 20139",Individual,Credit Card,500.0,Self-Employed,Legal
111,"Kurtom, Neveen Friends of",2022 Annual,2021-10-27,"Tabuteau, Richard","300 Dunkirk Road, Baltimore, MD 21212",Individual,Credit Card,250.0,NaN,NaN
112,"Kurtom, Neveen Friends of",2022 Annual,2022-01-12,Sung Hwang & Kim LLP,"9256 Bendix Road, Suite 109, Columbia, MD 21045",Business/Group/Organization,Credit Card,200.0,NaN,NaN
114,"Kurtom, Neveen Friends of",2022 Annual,2021-09-12,"Clark, Robert","10 Clarion Court, Cockeysville, MD 21030",Individual,Credit Card,100.0,"Law Office of Robert W. Clark, Jr.",Legal
116,"Kurtom, Neveen Friends of",2022 Annual,2021-09-14,"Sperry, Clark","1156 Sevenview Drive, Crownsville, MD 21032",Individual,Ticket Purchases Check,200.0,NaN,NaN